# Ignore Visual Studio and Rider settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.cache
*.user
*.userosscache
*.sln.docstates

# Ignore build outputs
bin/
obj/
out/

# Ignore dependency cache
packages/
node_modules/
**/node_modules/

# ignmore appsettings for database security

appsettings.Development.json
appsettings.Production.json
appsettings.json